{
    "swagger": "2.0",
    "info": {
        "title": "Whispir Contact APIs",
        "description": "Create and manage contact information using Whispir's cloud based contacts service",
        "version": "1.0.0",
        "x-gist-id": "0429a23e1d53d920fbde",
        "x-gist-filename": "contacts-swagger.yaml",
        "x-gist-description": "Whispir Contacts API (Swagger v1)"
    },
    "host": "api.whispir.com",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "Username and Password": {
            "type": "basic",
            "description": "The Username and Password of the Whispir user that is accessing the API."
        },
        "API Key": {
            "type": "apiKey",
            "in": "query",
            "name": "apikey",
            "description": "The API Key provided after creating an application in Whispir.io."
        }
    },
    "basePath": "/cors",
    "produces": [
        "application/vnd.whispir.contact-v1+json"
    ],
    "consumes": [
        "application/vnd.whispir.contact-v1+json"
    ],
    "paths": {
        "/contacts": {
            "get": {
                "summary": "Get Default Workspace Contacts",
                "description": "Provides a list of the contacts from the default workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "default": "20",
                        "description": "The number of messages to return. Default 20.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The search result to start retuning results from. Default 0.",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of contact objects\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            },
            "post": {
                "summary": "Create a new contact in the default workspace",
                "description": "Creates a new contact in the default workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "Contact",
                        "in": "body",
                        "required": true,
                        "description": "The contact information that should be created.",
                        "schema": {
                            "title": "Contact",
                            "$ref": "#/definitions/contact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of contact objects\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            }
        },
        "/contacts/{contactId}": {
            "get": {
                "summary": "Get a specific contact from the default workspace.",
                "description": "Get a specific contact from the default workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The ID of the contact to be returned",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The specified contact object is returned.\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            },
            "put": {
                "summary": "Update a specific contact record in the default workspace.",
                "description": "Update a specific contact in the default workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The ID of the contact to be updated",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Contact",
                        "in": "body",
                        "description": "The Contact Object to be updated",
                        "required": true,
                        "schema": {
                            "title": "Contact",
                            "$ref": "#/definitions/contact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The specified contact object is returned.\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            },
            "delete": {
                "summary": "Delete a specific contact record in the default workspace.",
                "description": "Delete a specific contact in the default workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The ID of the contact to be updated",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The specified contact object is deleted.\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            }
        },
        "/workspaces": {
            "get": {
                "summary": "Retrieve the workspace information to allow users to send messages from workspaces.\n",
                "produces": [
                    "application/vnd.whispir.workspace-v1+json"
                ],
                "consumes": [
                    "application/vnd.whispir.workspace-v1+json"
                ],
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The workspaces have been returned successfully\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            }
        },
        "/workspaces/{workspaceId}/contacts": {
            "get": {
                "summary": "Get Contacts from a specific workspace",
                "description": "Provides a list of the contacts from the default workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The Workspace ID that should be used to send the message",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "default": "20",
                        "description": "The number of messages to return. Default 20.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The search result to start retuning results from. Default 0.",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of contact objects\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            },
            "post": {
                "summary": "Create a new contact in the specified workspace",
                "description": "Creates a new contact in the specified workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The Workspace ID that should be used to send the message",
                        "type": "string"
                    },
                    {
                        "name": "Contact",
                        "in": "body",
                        "required": true,
                        "description": "The contact information that should be created.",
                        "schema": {
                            "title": "Contact",
                            "$ref": "#/definitions/contact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of contact objects\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            }
        },
        "/workspaces/{workspaceId}/contacts/{contactId}": {
            "get": {
                "summary": "Get a specific contact from the default workspace.",
                "description": "Get a specific contact from the default workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace to be searched",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The ID of the contact to be returned",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The specified contact object is returned.\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            },
            "put": {
                "summary": "Update a specific contact record in the default workspace.",
                "description": "Update a specific contact in the default workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace to be searched",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The ID of the contact to be updated",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Contact",
                        "in": "body",
                        "description": "The Contact Object to be updated",
                        "required": true,
                        "schema": {
                            "title": "Contact",
                            "$ref": "#/definitions/contact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The specified contact object is returned.\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            },
            "delete": {
                "summary": "Delete a specific contact record in the specified workspace.",
                "description": "Delete a specific contact in the specified workspace.\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The ID of the workspace to be searched",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "The ID of the contact to be updated",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The specified contact object is deleted.\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            }
        }
    },
    "definitions": {
        "contact": {
            "title": "Contact Information",
            "type": "object",
            "properties": {
                "type": {
                    "title": "Contact Type",
                    "description": "The contact type (Company or Project)",
                    "type": "string",
                    "default": "COMPANY",
                    "enum": [
                        "COMPANY"
                    ]
                },
                "title": {
                    "title": "Contact Title (Mr, Miss, Mrs)",
                    "description": "The title of the contact",
                    "type": "string"
                },
                "firstName": {
                    "title": "Contact First Name",
                    "description": "The first name of the contact",
                    "type": "string"
                },
                "lastName": {
                    "title": "Contact Last Name",
                    "type": "string"
                },
                "preferredLanguage": {
                    "title": "Contact Preferred Language",
                    "type": "string"
                },
                "companyName": {
                    "title": "Contact Organization Name",
                    "type": "string"
                },
                "jobTitle": {
                    "title": "Contact Job Title",
                    "type": "string"
                },
                "division": {
                    "title": "Contact Division",
                    "type": "string"
                },
                "businessUnit": {
                    "title": "Contact Business Unit Name",
                    "type": "string"
                },
                "department": {
                    "title": "Contact Department",
                    "type": "string"
                },
                "teamName1": {
                    "title": "Contact Team Name",
                    "type": "string"
                },
                "role1": {
                    "title": "Contact Role",
                    "type": "string"
                },
                "timezone": {
                    "title": "Contact TimeZone (+/- 00 or Australia/Melbourne format)",
                    "type": "string"
                },
                "personalEmailAddress1": {
                    "title": "Personal Email Address",
                    "type": "string"
                },
                "personalPhoneAreaCode1": {
                    "title": "Area Code for Personal Landline Phone",
                    "type": "string"
                },
                "personalPhone1": {
                    "title": "Phone number for Personal Landline Phone",
                    "type": "string"
                },
                "workEmailAddress1": {
                    "title": "Work Email Address",
                    "type": "string"
                },
                "workMobilePhone1": {
                    "title": "Work Mobile Phone Number",
                    "type": "string"
                },
                "workPhoneAreaCode1": {
                    "title": "Area Code for Work Landline Phone",
                    "type": "string"
                },
                "workPhone1": {
                    "title": "Phone number for Work Landline Phone",
                    "type": "string"
                },
                "workCountry": {
                    "type": "string"
                },
                "locations": {
                    "title": "Contact Location",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/location"
                    }
                },
                "messagingoptions": {
                    "title": "Contact Messaging Options",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/messageoption"
                    }
                }
            }
        },
        "location": {
            "type": "object",
            "title": "Contact Location",
            "properties": {
                "longitude": {
                    "type": "number",
                    "format": "float",
                    "default": 0
                },
                "latitude": {
                    "type": "number",
                    "format": "float",
                    "default": 0
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "CurrentLocation"
                    ]
                }
            }
        },
        "messageoption": {
            "title": "Messaging Option Configuration",
            "type": "object",
            "properties": {
                "channel": {
                    "type": "string",
                    "enum": [
                        "sms",
                        "email",
                        "voice"
                    ]
                },
                "primary": {
                    "type": "string",
                    "enum": [
                        "WorkMobilePhone1",
                        "WorkPhone1",
                        "WorkEmailAddress1"
                    ]
                },
                "secondary": {
                    "type": "string",
                    "enum": [
                        "WorkMobilePhone1",
                        "WorkPhone1",
                        "WorkEmailAddress1"
                    ]
                },
                "tertiary": {
                    "type": "string",
                    "enum": [
                        "WorkMobilePhone1",
                        "WorkPhone1",
                        "WorkEmailAddress1"
                    ]
                },
                "enabled": {
                    "type": "string",
                    "enum": [
                        true,
                        false
                    ]
                }
            }
        }
    }
}