{
    "swagger": "2.0",
    "info": {
        "title": "Whispir Rich Message APIs",
        "description": "Create Rich Messages using Whispir's Powerful Conversation APIs.",
        "version": "1.0.0",
        "x-gist-id": "b463cfdbba34cc4a2beb",
        "x-gist-filename": "rich-message-swagger.yaml",
        "x-gist-description": "Whispir Rich Message API (Swagger v1)"
    },
    "host": "api.whispir.com",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "Username and Password": {
            "type": "basic",
            "description": "The Username and Password of the Whispir user that is accessing the API."
        },
        "API Key": {
            "type": "apiKey",
            "in": "query",
            "name": "apikey",
            "description": "The API Key provided after creating an application in Whispir.io."
        }
    },
    "basePath": "/cors",
    "produces": [
        "application/vnd.whispir.message-v1+json"
    ],
    "consumes": [
        "application/vnd.whispir.message-v1+json"
    ],
    "paths": {
        "/messages": {
            "post": {
                "summary": "Send an Rich Message from the default workspace",
                "description": "Allows the user to send a simple Rich Message using plain text or HTML\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "message",
                        "in": "body",
                        "required": true,
                        "description": "The content of the Rich Message to be sent.",
                        "schema": {
                            "title": "Rich Message",
                            "$ref": "#/definitions/Web Message"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "The message has been accepted for processing"
                    },
                    "401": {
                        "description": "Username and Password is not correct"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again."
                    }
                },
                "externalDocs": {
                    "description": "More information about Whispir Messaging is available here.",
                    "url": "https://whispir.github.io/api/#sms-messages"
                }
            }
        },
        "/workspaces": {
            "get": {
                "summary": "Retrieve the workspace information to allow users to send messages from workspaces.\n",
                "produces": [
                    "application/vnd.whispir.workspace-v1+json"
                ],
                "consumes": [
                    "application/vnd.whispir.workspace-v1+json"
                ],
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The workspaces have been returned successfully\n"
                    },
                    "401": {
                        "description": "Username and Password is not correct\n"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided\n"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again.\n"
                    }
                }
            }
        },
        "/workspaces/{workspaceId}/messages": {
            "post": {
                "summary": "Send an Rich Message from a specific workspace",
                "description": "Allows the user to send a simple Rich Message using plain text or HTML\n",
                "security": [
                    {
                        "Username and Password": []
                    },
                    {
                        "API Key": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The Workspace ID that should be used to send the message",
                        "type": "string"
                    },
                    {
                        "name": "message",
                        "in": "body",
                        "required": true,
                        "description": "The content of the Rich Message to be sent.",
                        "schema": {
                            "title": "Rich Message",
                            "$ref": "#/definitions/Web Message"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "The message has been accepted for processing"
                    },
                    "401": {
                        "description": "Username and Password is not correct"
                    },
                    "403": {
                        "description": "No permission to access this resource, or API key incorrect/not provided"
                    },
                    "504": {
                        "description": "Request took greater than 20s to complete out. Please try again."
                    }
                },
                "externalDocs": {
                    "description": "More information about Whispir Messaging is available here.",
                    "url": "https://whispir.github.io/api/#sms-messages"
                }
            }
        }
    },
    "definitions": {
        "Web Message": {
            "type": "object",
            "properties": {
                "to": {
                    "title": "Message Recipients",
                    "description": "The recipients of the message. Can be mobile number, email or landline.",
                    "type": "string"
                },
                "subject": {
                    "title": "Message Subject",
                    "description": "The subject of the message.",
                    "type": "string"
                },
                "body": {
                    "title": "SMS Content",
                    "description": "The content of the SMS that references the Web Payload using @@web_link@@",
                    "type": "string"
                },
                "web": {
                    "$ref": "#/definitions/Rich Message"
                }
            }
        },
        "Rich Message": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string",
                    "title": "Rich Message Mime-Type",
                    "description": "The type of the content to be supplied in the Rich Message body.",
                    "enum": [
                        "text/plain",
                        "text/html"
                    ]
                },
                "body": {
                    "title": "Rich Message Content",
                    "description": "The body of the Rich Message that should be sent (should conform to the type specified above).",
                    "type": "string"
                }
            }
        }
    }
}